* {
  margin: 0; /*setting margin and padding to 0*/
  padding: 0;
}

body {
  background-color: #ffd1f7;
  font-family: "Inter", sans-serif; /*Specifying family*/
  padding: 15px;
}

.header {
  display: flex;
  justify-content: space-between; /*Puts the same amount of space between everything*/
  align-items: center; /*Centers everything horizontally*/
}

.header-text {
  font-size: 70px;
  font-weight: bold;
  text-shadow: 4px 4px black; /*Adds a bottom shadow to the text*/
  color: #db2473;
}

.cupido {
  width: 10%;
  height: auto;
}

.heart-area {
  margin-bottom: 30px;
  margin-left: 543.5px;
}

.heart {
  width: auto;
  height: 100%;
  display: block; /*Centering the image horizontally*/
  margin-left: auto;
  margin-right: auto;
}

.names-area {
  display: flex;
  justify-content: center; /*Puts everything next to eachother in the center of the screen*/
  align-items: center;
}

#nameA {
  background-color: #ffd1f7;
  border: 3px solid #db2473;
  box-shadow: 2px 3px black; /*Adds a bottom shadow*/
  width: 100%;
  height: 100%;
  padding-left: 5%;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: #db2473;
}

.left-name {
  width: 15%;
  height: 40px;
}

.heart-and-text {
  position: relative;
  margin-left: 30px;
  margin-right: 30px;
}

.test-heart {
  width: 112px;
  height: auto;
}

.heart-text {
  position: absolute; /*The texts position is absolute to the DIV that it's in*/
  font-size: 20px;
  color: #ffd1f7;
  text-shadow: 2px 2px black;
  top: 35px;
  left: 50%;
  transform: translateX(
    -50%
  ); /*Transform combined with "left" stated above makes it be exactly in the middle*/
}

.heart-button {
  border-style: none;
  background: #ffd1f7;
}

.right-name {
  width: 15%;
  height: 40px;
}

#nameB {
  background-color: #ffd1f7;
  border: 3px solid #db2473;
  box-shadow: 2px 3px black; /*Adds a bottom shadow*/
  width: 100%;
  height: 100%;
  padding-left: 5%;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: #db2473;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#heart {
  display: block;
  height: 80px;
  width: 70px;
  position: relative;
  color: #d53423;
}

#heart .fill {
  display: block;
  height: 70px;
  left: -1px;
  overflow: hidden;
  position: absolute;
  top: -4px;
  width: 70px;
  z-index: 3;
  transition: height 0.5s ease-in-out; 
  color: #e74c3c;
}

#heart.filled .fill {
  height: 32.5px;
}

#heart .outline {
  position: relative;
  margin-left: 8px;
}

#heart .fill:before, #heart .fill:after {
  background: #e74c3c;
  border-radius: 85px 60px 0 0;
  content:"";
  height: 59px;
  left: 37px;
  position: absolute;
  top: 6px;
  width: 36px;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 85px 60px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
#heart .fill:after {
  left: 1px;
  -webkit-transform: rotate(45deg);
  border-radius: 45px 60px 0 0;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

#heart .outline:before, #heart .outline:after {
  position: absolute;
  content:"";
  left: 28px;
  top: 1px;
  width: 39px;
  height: 62px;
  background: #d53423;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 85px 60px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
#heart .outline:after {
  left: -11px;
  -webkit-transform: rotate(45deg);
  border-radius: 45px 60px 0 0;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

#heart.filled .fill:after {
  left: 1px;
  transform: rotate(45deg);
  border-radius: 45px 60px 0 0;
  transform-origin: 100% 100%;
}

#heart.filled .fill:before {
  left: 37px;
  transform: rotate(-45deg);
  border-radius: 85px 60px 0 0;
  transform-origin: 0 100%;
}